---
import Layout from '../layouts/Layout.astro';
---

<Layout title="David Miller">
    <div>
        <nav class='bg-slate-800 flex justify-between items-center py-2 sticky top-0'>
            <h1 class='text-2xl font-bold'>David Miller</h1>
            <ul class='flex gap-4 justify-between items-center text-xl'>
                <li><a href="#">Home</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="">Github</a></li>
            </ul>
        </nav>
        <hero class='bg-red-200 relative'>
            <div class='text-4xl flex justify-center items-center h-96 text-center leading-normal'>
               Hi, my name is David and I am a Full-Stack developer located in central Michigan. Although I am still fairly new and lack experience, I am dedicated to this career path and strive to prove myself as a valuable asset to this community.
            </div>

            <h2 class='text-3xl text-center'>Skills</h2>
            <ul>
                <li>Typescript</li>
                <li>tRPC</li>
                <li>Prisma</li>
                <li>Next.js</li>
                <li>NextAuth.js</li>
                <li>TailwindCSS</li>
            </ul>
        </hero>
    </div>

</Layout>

